wandb/
model_ckpt/
pretrained/
.idea/
.vscode/

*.pt
*.pyc
*.pth
*.npy
*.png
.pre-commit-config.yaml
log.txt

**/__pycache__/**

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode
